* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    z-index: -1;
    background: beige;
}

.box-container {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: aqua;
    border: 5px solid black;
    margin: 10px;
    border-radius: 10%;
    z-index: 1;
}

.box2-add {
    margin-left: 50px;
    z-index: 2;
}

.box2 {
    background-color: rgba(138, 143, 226, 90%);
    bottom: 50px;
}

.box3-add {
    margin-left: 100px;
    z-index: 3;
}

.box3 {
    background-color: rgba(156, 0, 156, 80%);
    bottom: 100px;
}

.box4-add {
    margin-left: 150px;
    z-index: 4;
}

.box4 {
    background-color: rgba(190, 38, 90, 70%);
    bottom: 150px;
}

.box5-add {
    margin-left: 200px;
    z-index: 5;
}

.box5 {
    background-color: orange;
    bottom: 200px;
    width: 500px;
    height: 400px
}

@media 

